VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
# OAuth Web Client ID (4개 앱 공통)
VITE_GOOGLE_CLIENT_ID=485669859162-vo0qr0viffobpib1cf2jej1l56bju5gj.apps.googleusercontent.com
